.countdownTimer {
  display: flex;
  align-items: center;
}

.timeBlock {
  text-align: center;
  margin-top: -20px;
}
 .timeLeft{ 
  margin-top: -15px;
  font-size: 20px;
  font-weight: bold;
} 

.separator {
  color: #Db4444 ;
  margin:  0 5px;
  font-size: 25px;
  font-weight: bold;
}
.label {
  font-weight: bold;
}