.featuresBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}
.featuresBox::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  left: 135px;
  top: -8px;
  border-radius: 50%;
  background-color: #ececec;
  opacity: 2;
  z-index: -1;
}
.featuresBox::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  left: 125px;
  top: -18px;
  border-radius: 50%;
  background-color: gray;
  z-index: -2;
}
.featuresBox p{
  margin-top: -10px;
}
