.productTop {
  border-bottom: 1px solid black;
}
.stock {
  display: flex;
  align-items: center;
  gap: 20px;
}
.stock .stockLabel {
  color: var(--labelColor);
  margin-top: 4px;
}
.stock span {
  margin-top: -15px;
}
.price {
  font-size: 18px;
  font-weight: 600;
}
.productDetails {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}
