section{
  margin-top: 50px;
  margin-bottom: 50px;
}
.mainName {
  position: relative;
  color: #db4444;
  font-weight: 700;
  padding-left: 35px;
  padding-top: 5px;
}

.mainName::before {
  content: '';
  position: absolute;
  background-color: #db4444;
  width: 22px;
  height: 42px;
  left: 0;
  top: 0;
  margin-top: -5px;
  border-radius: 6px;
}

.secondName {
  font-size: 25px;
  font-weight: 700;
}
.viewAll{
  margin-top: 15px;
  background-color: var(--primaryColor);
  color: var(--white);
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 6px;
}
.viewAll a{
  color: white;
  text-decoration: none;
}